.footer
  .nav
    %ul
      %li
        = link_to "https://www.mercari.com/jp/privacy/", class: "nav-menu" do
          プライバシーポリシー
      %li
        = link_to "https://www.mercari.com/jp/tos/", class: "nav-menu" do
          メルカリ利用規約
      %li
        = link_to "https://www.mercari.com/jp/tokutei/", class: "nav-menu" do
          特定商品取引に関する表記
  = link_to "https://www.mercari.com/jp/", class: "footer-logo" do
    = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3642602565", alt: "mercari", class: "footer__image", size: "80x65" 
  %p
    %small
      © Mercari, Inc.